/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #87D68D;
    font-family: Helvetica, serif;
    height: 48px;
    margin: -8px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

/* Highlight current website */
.navbar a.active {
    background-color: seagreen;
}

/* Put navbar items on right side */
.navbar .float-right {
    float:right;
}

/* The dropdown container */
.navbar .dropdown {
    float: left;
    overflow: hidden;
}

/* The dropdown button */
.dropdown .dropdown-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 15px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a color on hovered navbar link */
.navbar a:hover, .dropdown:hover .dropdown-button {
    background-color: darkslategrey;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}